@charset "UTF-8";/*widthとheightの値は、セルのサイズに合わせて微調整する*/
.example{
    overflow: auto;
	border-radius: 15px !important;
	height: 504px;
}
.example table{
    margin: 0;
    border-spacing: 0;
	border-collapse: separate !important;

}
.example td{
    white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: rgb(255, 255, 255);
    padding: 5px;
}
.example th{
    white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
	background: rgb(231, 108, 78) !important; /* 優先的にオレンジ色を適用 */
	color: white !important;
    position: sticky;
    top: 0;
    left: 0;
}
.example tr:first-child th{
    border-top: 1px solid #999;
}
.example th:first-child{
    border-left: 1px solid #999;
}
.example tr:first-child th:first-child{
    z-index: 1;
}
#table_title{
    font-weight: bold; 
    font-size: larger;
}
.price{
    text-align: right; /*数字は右寄せ設定*/
}
.table td{
	border:5px black;
}
